* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* START PAGE LAYOUT */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 20px;
}

main {
  flex-grow: 1;
}

/* START PAGE LAYOUT */

/* START HEADER */
header {
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding-block: 1.3rem;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

.logo {
  font-size: 1.8rem;
}
/* START HEADER */

.main {
  display: grid;
  place-items: center;
}

/* START ADD BOOK */
.add-book-button {
  margin-block: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  padding: 0.3rem;
}

.add-book-button:hover {
  color: #ff9100;
}

.search-bar {
  width: 10rem;
  margin-block: 2.3rem;
  border-radius: 1.7rem;
  border: none;
  font-size: 1.3rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}

.search-bar.clicked {
  width: 50rem;
  transition: width 0.5s;
  margin-block: 2.3rem;
}

.search-bar:focus {
  outline: none;
  border: #ff9100 1px solid;
}
/* START ADD BOOK */

/* START FETCH BOOKS */
.book-wrapper {
  width: 100%;
  padding-inline: 1.6875rem;
}

.books {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.book-img img {
  height: 13rem;
  width: 9rem;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.book-img img:hover {
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
/* START FETCH BOOKS */

/* START MODAL BOOKS */
.book-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  padding: 1rem;
}
.modal-wrapper {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.book-modal::backdrop {
  background: rgba(0, 0, 0, 0.737);
}

.book-modal form {
  display: flex;
  flex-direction: column;
}

.modal-info-wrapper {
  display: flex;
  flex-direction: column;
}

.modal-img img {
  height: 10rem;
  width: 6.8rem;
  object-fit: cover;
}

.modal-info-wrapper input {
  border: none;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3d3d3d;
}

.modal-pages,
.modal-author {
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-bottom: 0.1rem;
}

.modal-pages {
  margin-top: 0.5rem;
}

.modal-info-wrapper input,
.modal-info-wrapper label {
  font-size: 0.9rem;
  color: #3d3d3d;
}

.modal-info-wrapper input:focus {
  border: none;
  outline: none;
}

.book-state-btns {
  padding-block: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.book-state-btns button {
  margin-top: 0.3rem;
  padding: 0.3rem;
  border-radius: 0.4rem;
  border: #3d3d3d solid 1px;
  color: #3d3d3d;
  background-color: white;
}

.book-state-btns button:hover {
  border: #3d3d3d solid 1px;
  color: white;
  background-color: #3d3d3d;
}

.book-state-btns button:active {
  background-color: #3d3d3d;
  color: white;
}

.book-state-btns button:focus {
  background-color: #3d3d3d;
  color: white;
}

.modal-rating {
  display: flex;
  font-size: 1.3rem;
}

.modal-rating i {
  color: #ff9900;
}

.modal-submit-btns {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.modal-btn-confirm,
.modal-btn-cancel {
  font-size: 1rem;
  padding-inline: 0.5rem;
  padding-block: 0.3rem;
}

.modal-btn-cancel {
  color: #fb3640;
  background-color: white;
  border: #fb3640 1px solid;
  border-radius: 0.4rem;
}

.modal-btn-confirm {
  color: white;
  background-color: #40916c;
  border: #40916c 1px solid;
  border-radius: 0.4rem;
}

.modal-btn-cancel:hover {
  color: white;
  background-color: #fb3640;
}

.modal-btn-confirm:hover {
  color: white;
  background-color: #2d6a4f;
}

/* END MODAL BOOKS */

footer {
  width: 100%;
  text-align: center;
  bottom: 0;
  padding-block: 1.5rem;
  color: black;
  font-weight: bold;
}

footer a {
  text-decoration: none;
  color: #ff9100;
}

footer a:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
/* END FOOTER */
